# Cetak

In [9]:
print('Kita sedang apa?')

Kita sedang apa?

In [10]:
print("""
Kita sekarang sedang belajar python,
untuk data science,
bersama BISA AI
""")

Kita sekarang sedang belajar python,
untuk data science,
bersama BISA AI

In [11]:
a = 'Mudik gk?'

In [12]:
a

'Mudik gk?'

In [13]:
a = 100

In [14]:
a

100

# Tipe Data

## String

In [15]:
a = 'Mudik gk?'

In [17]:
type(a)

str

In [18]:
a = '100'

In [19]:
type(a)

str

## Integer

In [20]:
a = 100

In [21]:
type(a)

int

## Float

In [22]:
a = 100.25

In [23]:
type(a)

float

In [24]:
b = 25.

In [25]:
type(b)

float

## Boolean

In [26]:
True

True

In [27]:
False

False

In [28]:
5 > 1

True

In [29]:
5 < 1

False

## List

In [58]:
listt = ['Piton', 'king kong', 'godzila', 'Piton']

In [59]:
type(listt)

list

In [60]:
print(listt.count('Piton'))

2

In [61]:
len(listt)

4

In [62]:
listt.append(3)

In [63]:
listt

['Piton', 'king kong', 'godzila', 'Piton', 3]

In [64]:
listt.insert(1, 'Cicak')
listt

['Piton', 'Cicak', 'king kong', 'godzila', 'Piton', 3]

In [65]:
del listt[-1]
listt

['Piton', 'Cicak', 'king kong', 'godzila', 'Piton']

In [66]:
listt.pop(1)
listt

['Piton', 'king kong', 'godzila', 'Piton']

In [67]:
listt.clear()
listt

[]

In [41]:
angka = [1,2,30,4,5]

In [47]:
print('Min :', min(angka))
print('Max :', max(angka))
print('Sum :', sum(angka))

Min : 1
Max : 30
Sum : 42

In [51]:
angka.sort()
angka

[1, 2, 4, 5, 30]

In [52]:
angka.sort(reverse=True)
angka

[30, 5, 4, 2, 1]

## Tuple

Tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat.

In [68]:
tuplee = ('Piton', 'king kong', 'godzila', 'Piton')

In [70]:
tuplee[1]

'king kong'

In [71]:
tuplee[1:3]

('king kong', 'godzila')

In [72]:
tuplee[2] = 25

TypeError: 'tuple' object does not support item assignment

In [75]:
del tuplee[-1]
tuplee

TypeError: 'tuple' object doesn't support item deletion

## Set

Set adalah kumpulan item bersifat unik

In [76]:
sett = {'Piton', 'king kong', 'godzila', 'Piton'}

In [77]:
sett

{'Piton', 'godzila', 'king kong'}

## Dictionary

In [104]:
asean = { "vietnam": 'hanoi', 
         "thailan": 'bangkok', 
         "malaysia": 'kuala lumpur',
         "filipina": 'manila' }

In [105]:
asean

{'vietnam': 'hanoi',
 'thailan': 'bangkok',
 'malaysia': 'kuala lumpur',
 'filipina': 'manila'}

In [106]:
asean["indonesia"] = 'jakarta'

In [107]:
asean

{'vietnam': 'hanoi',
 'thailan': 'bangkok',
 'malaysia': 'kuala lumpur',
 'filipina': 'manila',
 'indonesia': 'jakarta'}

In [108]:
asean.values()

dict_values(['hanoi', 'bangkok', 'kuala lumpur', 'manila', 'jakarta'])

In [109]:
asean['indonesia']

'jakarta'

In [110]:
'vietnam' in asean

True

In [111]:
del asean['thailan']

In [112]:
asean

{'vietnam': 'hanoi',
 'malaysia': 'kuala lumpur',
 'filipina': 'manila',
 'indonesia': 'jakarta'}

# Input/Output

In [40]:
x = 100
print('Nilai x adalah', x)

Nilai x adalah 100

In [113]:
print('a: hai {}'.format('bro?'))

a: hai bro?

In [114]:
a = 'bro'
print('b: oii {}'.format(a))

b: oii bro

In [115]:
nilai = input('Masukkan angka : ')

Masukkan angka : 24

In [116]:
type(nilai)

str

In [119]:
angka = int(input('Masukan angka: '))

Masukan angka: 56

In [120]:
type(angka)

int

In [124]:
nama = input('Nama : ')
umur = int(input('Umur : '))

print('\nSaya', nama, 'umur', umur)

Nama : andyka
Umur : 15

Saya andyka umur 15

# Method

In [47]:
#__Upper
kata = 'bisa ai'
kata = kata.upper()
print(kata)

BISA AI

In [48]:
#__Lower
kata = 'BISA AI'
kata = kata.lower()
print(kata)

bisa ai

In [52]:
#__Join
print(' '.join(['Bisa', 'AI']))

Bisa AI

In [53]:
#__Split
print('Bisa AI'.split())

['Bisa', 'AI']

In [54]:
#__Replace
a = "Basic Python for Data Science"
print(a.replace("Basic", "Dasar"))

Dasar Python for Data Science

In [2]:
#__Absolut
print(abs(-25))

25

In [3]:
#__Round pembulatan
print(round(3.7))

4

# Math Operator

In [128]:
10+5

15

In [129]:
10-5

5

In [130]:
10*5

50

In [131]:
10/5

2.0

In [132]:
5**2

25

In [133]:
13//3

4

In [134]:
13%3

1

In [136]:
x = 25
y = 5

In [137]:
x*y

125

# Comparision

In [138]:
3 < 4

True

In [139]:
3 > 4

False

In [140]:
3 == 4

False

In [141]:
4 == 4

True

In [142]:
3 > 3

False

In [143]:
3 >= 3

True

In [144]:
x = 4
y = 2

In [145]:
x <= y

False

# Logical

In [159]:
True and True

True

In [160]:
True and False

False

In [161]:
False and False

False

In [162]:
True or True

True

In [163]:
True or False

True

In [164]:
False or False

False

In [165]:
not False

True

In [167]:
not True

False

In [168]:
x = 10

In [169]:
x > 5 and x < 15

True

In [170]:
x < 0 or x > 0

True

# Conditional Statement

In [172]:
umur = 80

In [173]:
if umur < 17:
    print('anak-anak')

In [174]:
if umur < 17:
    print('anak-anak')
elif umur > 17 and umur < 60:
    print('produktif')
else:
    print('lansia')

lansia

In [181]:
i = 4
if (i<7):
    print("nilai i < 7")
    if (i<0):
        print("i < 7 dan i < 0")
    else:
        print("i < 7 tapi i > 0")
else:
    print('i kegedean')

nilai i < 7
i < 7 tapi i > 0

# Perulangan

In [182]:
x = ['Piton', 20, True, 10.5, 1+3j]

In [183]:
for i in x:
    print(i, '\t', type(i))

Piton 	 <class 'str'>
20 	 <class 'int'>
True 	 <class 'bool'>
10.5 	 <class 'float'>
(1+3j) 	 <class 'complex'>

In [184]:
for i in range(5):
    print(i)

0
1
2
3
4

In [189]:
for i in range (0,5):
    for j in range (0,5):
#         print('i :', i, 'dan j :', j)
        if j>i:
            print()
            break
        else:
            print("*",end="")

*
**
***
****
*****

In [85]:
i = 0 
while (i < 5):
    print(i)
    i+=1

0
1
2
3
4

In [8]:
error = 100
while error > 0.05:
    print(error)
    error/=2

100
50.0
25.0
12.5
6.25
3.125
1.5625
0.78125
0.390625
0.1953125
0.09765625

# Fungsi

In [191]:
def world():
    print("Hello, World!")

In [192]:
world()
world()
world()

Hello, World!
Hello, World!
Hello, World!

In [193]:
def is_square(panjang, lebar):
    if panjang == lebar:
        print('Persegi')
    else:
        print('Persegi Panjang')

In [194]:
is_square(5,5)

Persegi

In [195]:
is_square(10,5)

Persegi Panjang

In [196]:
def luas_segitiga(alas, tinggi):
    return (alas*tinggi)/2

In [197]:
luas_segitiga(4, 6)

12.0